body {
}

p {
  margin: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	margin: auto;
  	width: 50%;	
}
a {
	color: green;
}
  
.map_1{
    	display: flex;
	justify-content: center;
	align-items: center;
}
